<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.myapplication14">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".View.HomePage.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Product.ProductActivity">

        </activity>
        <activity android:name=".View.ProductDetail.ProductDetailActivity"></activity>
        <activity android:name=".View.Evaluate.ListEvaluateActivity"></activity>
        <activity android:name=".View.Evaluate.EvaluateActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog">


        </activity>
        <activity android:name=".View.Cart.CartActivity"></activity>
        <activity android:name=".View.InfoCustomer.InfoCustomerActivity"></activity>
    </application>

</manifest>